* {
  scroll-behavior: smooth;
}

#landing {
  background: radial-gradient($grey-darkest, $grey-darker, $grey-darkest);
  background-size: 4000% 4000%;
  animation: fancy-gradient 20s ease infinite;
  position: relative;
}

#scroll-indicator {
  font-size: 2em;
  animation: bounce 1s infinite;
  position: absolute;
  bottom: $scroll-pos-one;
  left: 50%;
  cursor: pointer;
}

.hero {
  padding-top: 3.25rem;
}

#stories-container {
  overflow-x: auto;
  .card {
    height: 100%;
    .card-image {
      padding: 10px;
    }
    
    transition: 300ms ease all;
    @include material-shadow(1);
    &:hover {
      @include material-shadow(2);
    }
  }
}

@include below(md) {
  * {
    text-align: center;
  }
}

