$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin above($breakpoint) {
    @if map-has-key($grid-breakpoints, $breakpoint) {
        $value: map-get($grid-breakpoints, $breakpoint);
        @media (min-width: $value) {
            @content;
        }
    }
}

@mixin below($breakpoint) {
    @if map-has-key($grid-breakpoints, $breakpoint) {
        $value: map-get($grid-breakpoints, $breakpoint);
        @media (max-width: $value) {
            @content;
        }
    }
}

@mixin flex($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: $direction;
}