include ../../layouts/section

+create-section('chapters', 'is-dark')
  mixin headerInstance
    yield
  mixin bodyInstance
    .container
      h1.title Local Chapters
  mixin footerInstance
    yield