nav.navbar.is-fixed-top
  .container
    .navbar-brand
      a.navbar-item(href="#")
        img(src="#" alt="TCfG")
      span#navbar-burger-trigger.navbar-burger.burger(data-target="navbar-menu-opened")
        span
        span
        span
    #navbar-menu-opened.navbar-menu
      .navbar-end
        each link in LINKS_DATA
          a.navbar-item(href=`${link.href}`) #{link.name}
        span.navbar-item
          a.button.is-dark.is-inverted
            span.icon
              i.fas.fa-hand-holding-heart
            span Donate
