section#about.hero.is-fullheight
  .hero-head
    .container
      h1.title What are we?
  .hero-body
    .container
      .columns
        .column.is-8
          .has-text-grey-darker Sai is studying computer programming and software engineering in India, and noted that, for a field that is such a terrific job opportunity in India, education in programming starts quite late in most schools, and often not at all for the underprivileged students.  He has created a team of volunteer college students who will introduce a basic computer programming initiative in impoverished schools in Manipala, India.  Taught by these university computer science students and using donated machines from corporations, this program will empower children from at-risk backgrounds, create interest in coding, and increase opportunities for education and employment. Recently, the venture was given awards by the Rotary Club of Udipi-Manipal as well as the Manipal Junior College for its volunteer service.
  .hero-foot
