section#landing.hero.is-fullheight.is-dark
  .hero-head
  .hero-body
    .container.has-text-centered
      p.title Teach Code for Good
      p.subtitle Sample Subtitle
  .hero-foot
    #scroll-indicator.fa.fa-chevron-down
