nav.navbar.is-fixed-top(role='navigation' aria-label='main navigation')
  .container
    .navbar-brand
      a.navbar-item(href="#")
        img(src="#" alt="TCfG")
      span.navbar-burger.burger(aria-label='menu' aria-expanded='false' data-target='navbar-main')
        span
        span
        span
    .navbar-menu#navbar-main
      .navbar-end
        each link in LINKS_DATA
          a.navbar-item(href=`${link.href}`) #{link.name}
        span.navbar-item
          a.button.is-dark.is-inverted
            span.icon
              i.fas.fa-hand-holding-heart
            span Donate
