include ../components/story

section#stories.hero.is-fullheight
  .hero-head
    .container
      h1.title Stories
  .hero-body
    .container
      #stories-container.columns.is-multiline
        each instance in STORIES_DATA
          +create-story(instance.image, instance.title, instance.story, instance.writer)
  .hero-foot