include ../layouts/section
include ../layouts/story

+create-section('stories', null)
  mixin headerInstance
    .container
      h1.title Stories
  mixin bodyInstance
    .container
      #stories-container.columns.is-multiline
        each instance in STORIES_DATA
          +create-story(instance.image, instance.title, instance.story, instance.writer)
  mixin footerInstance
    yield