extends layouts/main

block header
  include components/navbar
block content
  include sections/landing
  include sections/about
  include sections/chapters
  include sections/stories
  include sections/contact
