extends layouts/main

block header
  include components/navbar
block content
  include components/sections/landing
  include components/sections/about
  include components/sections/chapters
  include components/sections/stories
  include components/sections/contact
