@charset "utf-8";

// roboto mono

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// initial variables

$grey-lightest: #F5F5F5;
$grey-lighter: #E0E0E0;
$grey: #9E9E9E;
$grey-darker: #616161;
$grey-darkest: #212121;
$family-sans-serif: 'Roboto Mono', monospace;

// derived variables

$background: $grey-darker;
$primary: $grey;
$dark: $grey-darkest;
$text: $grey-lightest;
$link: $grey-lighter;
$family-primary: $family-sans-serif;
$scroll-pos-one: 10vh;
$scroll-pos-two: 15vh;

// navbar themeing

$navbar-background-color: $grey-darkest;
$navbar-item-color: $grey-lighter;
$navbar-item-hover-background-color: $grey-lighter;
$navbar-item-hover-color: $grey-darker;

// importing bulma

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

// custom css

* {
    scroll-behavior: smooth;
}

#landing {
    background: radial-gradient($grey-darkest, $grey-darker, $grey-darkest);
    background-size: 4000% 4000%;
    animation: fancy-gradient 20s ease infinite;
    position: relative;
}

#about {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: 200ms ease all;
    &:hover { 
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
    }
}

@keyframes fancy-gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.scroll-indicator {
    font-size: 2em;
    animation: bounce 1s infinite;
    position: absolute;
    bottom: $scroll-pos-one;
    left: 50%;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        // margin-top: default;
        bottom: $scroll-pos-one;
    }
    50% {
        // margin-top: 1em;
        bottom: $scroll-pos-two;
    }
    100% {
        // margin-top: default;
        bottom: $scroll-pos-one;
    }
}

#stories {
    padding-top: 3.25rem;
}

#stories-container {
    overflow-x: auto;
}